@model IPagedList<Operateur>
@{
	ViewData["Title"] = "Opérateurs";
}

@using X.PagedList.Mvc.Core
@using X.PagedList

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="text-muted">Les Opérateurs</h5>
            <div class="d-flex align-items-center gap-2">
                <a asp-controller="Operateur" asp-action="Create" class="btn btn-primary">Ajouter un opérateur</a>
                <a class="btn btn-success">Télécharger un fichier</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Disponibilité</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var operateur in Model)
                {
                    <tr>
                        <td>@operateur.OperateurName</td>
                        <td>@operateur.OperateurPhone</td>
                        @if (operateur.isAvailable)
                        {
                            <td>Disponible</td>
                        }
                        else
                        {
                            <td>Indisponible</td>
                        }
                        <td>
                            <a asp-controller="Operateur" asp-action="Delete" asp-route-id="@operateur.OperateurId" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="paginator">
            @Html.PagedListPager(
            Model,
            page => Url.Action("Index", new { page }),
            new X.PagedList.Web.Common.PagedListRenderOptions
            {
            Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
            LiElementClasses = new[] { "page-item" }
            }
            )
        </div>
    </div>
</div>
