@model IEnumerable<Machine>
@{
	ViewData["Title"] = "Machines";
}
<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-muted">Les machines</h5>
                <div class="d-flex align-items-center gap-2">
                    <div class="input-group w-auto">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                    <a asp-controller="Machine" asp-action="Create" class="btn btn-primary">Ajouter une machine</a>
                </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Désignation</th>
                    <th scope="col">Numero de facteur</th>
                    <th scope="col">Date d'acquisition</th>
                    <th scope="col">Disponibilite</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var machine in Model)
                {
                    <tr>
                        <td>@machine.Designation</td>
                        <td>@machine.Nfacteur</td>
                        <td>@machine.DateAcquisition</td>
                        @if (machine.isAvailable)
                        {
                            <td>Disponible</td>
                        }
                        else
                        {
                            <td>Indisponible</td>
                        }
                        <td>
                            <a asp-controller="Machine" asp-action="Delete" asp-route-id="@machine.MachineId" class="btn btn-sm btn-danger">Supprimer</a>
                            <a class="btn btn-sm btn-warning">Plus</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
