<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CES</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cesapp.styles.css" asp-append-version="true" />
    <style>
        .gradient-bg-welcome {
            background-color: #ffffff;
            background-image: radial-gradient(at 0% 0%, #ffefef 0, transparent 50%), radial-gradient(at 0% 10%, #6f9dcf52 0, transparent 70%), radial-gradient(at 50% 50%, #f7ad0c60 0, transparent 90%), radial-gradient(at 0% 100%, #6f9dcf52 0, transparent 70%), radial-gradient(at 60% 100%, #006bb24f 0, transparent 20%);
            background-repeat: no-repeat;
        }
    </style>
</head>
<body class="p-0 m-0 vh-100 d-flex align-items-center gradient-bg-welcome">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
