html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card-fieldset {
    border: 1px solid #808080;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.legend-title {
    color: #161616;
    font-size: 13px;
    padding : 1px 4px;
    border-radius: 5px;
    width: auto;
    position:absolute;
    top : 0;
    transform: translateY(-50%);

}
.a-hover-effect:hover{
    color: yellow;
}
#paginator .page-item{
    margin : 0 3px;
    padding : 0 4px;
    border : 1px solid grey;
}
#paginator .page-item a{
    text-decoration: none;
}